.badge{
    background-color: tomato;
    display:block; /*span이므로 block이어야 width와 height 적용 가능*/
    width: 30px;
    height:30px;
    border-radius:15px; /*원을 만드려면 width의 절반을 쓰기*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight:600;
}